.profile {
  padding: 74px 0 70px;
}

.profile__name {
  margin: 0;
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-family: Inter;
  font-weight: 500;
}

.profile__form {
  width: 410px;
  margin: auto;
  padding: 123px 0 0;
}

.profile__form-input-wrapper {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #424242;
}

.profile__form-input-wrapper:last-of-type {
  border: none;
}

.profile__form-label {
  width: 20%;
  color: #fff;
  font-size: 11px;
  font-family: Inter;
  font-weight: 500;
  padding: 0 0 16px;
}

.profile__form-input {
  width: 100%;
  height: 14px;
  margin: 0;
  padding: 0 0 16px;
  background-color: transparent;
  border: none;
  color: #fff;
  text-align: right;
  font-size: 11px;
  font-family: Inter;
  outline: none;
}

.profile__form-input_no-edit {
  pointer-events: none;
}

.profile__form-input-error {
  display: block;
  height: 17px;
}

.profile__form-change-wrapper {
  padding: 220px 0 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.profile__form-change {
  padding: 0;
  border: none;
  background-color: transparent;
  color: #fff;
  text-align: center;
  font-size: 13px;
  font-family: Inter;
  cursor: pointer;
}

.profile__logout {
  padding: 0;
  border: none;
  background-color: transparent;
  color: #ee3465;
  text-align: center;
  font-size: 13px;
  font-family: Inter;
  font-weight: 500;
  cursor: pointer;
}

.profile__form-submit-wrapper {
  padding: 189px 0 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile__form-submit-error {
  height: 14px;
  color: #FF004C;
  text-align: center;
  font-size: 11px;
  font-family: Inter;
}

.profile__form-submit {
  padding: 15px 0;
  width: 100%;
  border-radius: 3px;
  border: none;
  background-color: #3456f3;
  color: #fff;
  font-size: 14px;
  font-family: Inter;
  font-weight: 500;
  cursor: pointer;
  transition: background .3s;
}

.profile__form-submit_no-active {
  background-color: #f8f8f8;
  color: #c2c2c2;
}

@media screen and (max-width: 498px) {
  .profile {
    padding: 74px 10px 40px;
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .profile__form {
    flex: 1;
    margin: 0;
    width: 100%;
    padding: 80px 20px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .profile__form-input-wrapper {
    max-width: 100%;
  }

  .profile__form-label {
    width: 130px;
    color: #fff;
    font-size: 11px;
    font-family: Inter;
    font-weight: 500;
  }

  .profile__form-input {
    margin: 0;
    padding: 0 0 16px;
  }

  .profile__form-submit-wrapper {
    padding: 0;
  }

  .profile__form-change, .profile__logout {
    font-size: 12px;
  }
}
