.portfolio {
  padding: 101px 70px 125px;
}

.portfolio__title {
  margin: 0;
  padding: 0 0 50px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #8b8b8b;
  mix-blend-mode: normal;
}

.portfolio__link {
  text-decoration: none;
  padding: 0 0 19px;
  border-bottom: 1px solid #424242;
  display: block;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  color: #fff;
  background-image: url(../../images/arrow-link.svg);
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-size: 29px 60px;
}

.portfolio__link:last-child {
  border: none;
}