.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 18px 70px;
}

.header__logo {
  display: block;
  width: 38px;
  height: 38px;
  background-image: url('../../images/logo.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: inherit;
}

.header__navigation {
  /**/
}