.register {
  padding: 70px 0 0;
}

.register__wrapper {
  max-width: 396px;
  margin: auto;
}

.register__title {
  margin: 0;
  padding: 40px 0;
  color: #fff;
  font-size: 24px;
  font-family: Inter;
  font-weight: 500;
}

.register__under-form-link-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 6px;
  padding: 16px 0 0;
}

.register__login-text {
  color: #8b8b8b;
  text-align: center;
  font-size: 14px;
  font-family: Inter;
}

.register__login-link {
  color: #4285f4;
  text-align: center;
  font-size: 14px;
  font-family: Inter;
  text-decoration: none;
}
